# Database
DATABASE_URL="file:./dev.db"

# JWT Configuration
JWT_SECRET="troque_para_uma_chave_secreta_aleatoria_de_pelo_menos_32_caracteres"
JWT_EXPIRES_IN="7d"

# Server
PORT=3001
UPLOADS_DIR="./uploads"

# Admin inicial (criado pelo seed)
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="senha_inicial_admin"

# Frontend URL (para CORS)
FRONTEND_URL="http://localhost:5173"
